*{
  margin: 0;
  padding: 0;
  user-select: none;
}

.FullScreen{
  position: absolute;
  top: 0px; 
  bottom: 0px; 
  left: 0px; 
  right: 0px;
}

.LeftPane{
  position: absolute;
  top: 44px; 
  bottom: 0px; 
  left: 0px; 
  right: 0px;
  width: 40%;
  min-width: 200px;
  max-width: 300px;
}

.flexColumns{
  display: flex;
  flex-direction: row;
}

.flexRows{
  display: flex;
  flex-direction: column;
}

.version {
  text-decoration: none;
  color: #555;
  font-size: .9em;
 font-weight: bold
}

.version:hover {
  text-decoration: underline;
  color: #222;
}

.version:active {
  text-decoration: underline;
  color: #555;
}