.FullScreen{
  position: absolute;
  top: 0px; 
  bottom: 0px; 
  left: 0px; 
  right: 0px;
}

.LeftPane{
  position: absolute;
  top: 44px; 
  bottom: 0px; 
  left: 0px; 
  right: 0px;
  width: 40%;
  min-width: 200px;
  max-width: 300px;
}

.flexColumns{
  display: flex;
  flex-direction: row;
}

.flexRows{
  display: flex;
  flex-direction: column;
}

